AIM/AIM.v12.suo
AIM/AIM/AIM.Client.Entities/obj/Debug/AIM.Client.Entities.csprojResolveAssemblyReference.cache
AIM/AIM/AIM.Service.Entities/obj/Debug/AIM.Service.Entities.csprojResolveAssemblyReference.cache
AIM/AIM.v12.suo