@model IEnumerable<AIM.Application.Service.Entities.Models.Store>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AES</h1>
    <p class="lead">Sales pitch goes here.</p>
</div>

<center>
    <p>Select a region</p>
    <!-- <p>Html.DropDownList( (SelectList) ViewBag.DropDownValues);</p> -->
    <p></p><p></p>
</center>

<td class="center">
    <center>
        <a class="btn btn-success" href="/OpenJob">
            View Open Jobs
            <i class=" icon-zoom-in icon-white"></i>
        </a>
    </center>

    <script language="JavaScript">

        function openWindow() {

            //Get what is below onto one line

            TheNewWin = window.open("OpenJobs", 'WindowTitle', 'fullscreen=yes,toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=no');

            //Get what is above onto one line

            // Set height and width
            var NewWinHeight=screen.width;
            var NewWinWidth=screen.height;            

            TheNewWin.resizeTo(NewWinHeight,NewWinWidth);

            //// Place the window
            //var NewWinPutX = 10;
            //var NewWinPutY = 10;
            //TheNewWin.moveTo(NewWinPutX, NewWinPutY);

        }
    </script> 

</td>