@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AES</h1>
    <p class="lead">AES is a leader in retail electronics.
                    If you think you have the skills to help make our company 
                    truly great, apply today.
    </p>    
</div>

<div>
    <center>
        <a class="btn btn-success" onclick="goNewWin()">
            <i class="icon-zoom-in icon-white"></i>
            Apply for a job with AES
        </a>
    </center>

    <script language="JavaScript">

        function goNewWin() {

            //Get what is below onto one line

            TheNewWin = window.open("ViewJobList", "NameOfWindow", 'fullscreen=yes,toolbar=no,location=no,directories=no,status=no,menubar=no');

            //Get what is above onto one line

            // Set height and width
            var NewWinHeight = screen.width;
            var NewWinWidth = screen.height;
            TheNewWin.resizeTo(NewWinHeight, NewWinWidth);

            //// Place the window
            //var NewWinPutX = 10;
            //var NewWinPutY = 10;
            //TheNewWin.moveTo(NewWinPutX, NewWinPutY);

        }
    </script>
</div>              