@model IEnumerable<AIM.Application.Service.Entities.Models.Region>
@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">
    <h1>AES</h1>
    <p class="lead">Sales pitch goes here.</p>
</div>


@using (Html.BeginForm("Index", "OpenJob", FormMethod.Post)){
    <td class="center">
        <center>                   
                <label for="RegionList">Select a Region: </label>
                @Html.DropDownList("RegionList", Model.Select(item => new SelectListItem()
                {
                    Text = item.regionName.ToString(),
                    Selected = "select" == item.regionId.ToString() ? true : false
                }))                
                <p></p>
                <input type="submit" value="View Job Openings" class="btn btn-success icon-zoom-in icon-white"/>            
        </center>
    </td>
}


