<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Breeze.Server.ContextProvider" version="1.4.11" targetFramework="net451" />
  <package id="Breeze.Server.ContextProvider.EF6" version="1.4.11" targetFramework="net451" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="TrackableEntities.Client" version="2.0.0.0" targetFramework="net451" />
  <package id="TrackableEntities.Common" version="2.0.0.0" targetFramework="net451" />
</packages>