@model AIM.Application.Service.Entities.Models.OpenJob

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job Opening for @ViewBag.Message </h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Store:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.name)
        </dd>

        <dt>
            Region:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.regionName)
        </dd>

        <dt>
            Description: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.description)
        </dd>
    </dl>         
</div>
<center>
    <a class="btn btn-info">
        <i class="icon-edit icon-white"></i>
        Apply Now
    </a>
</center>

<p>
   <!-- Html.ActionLink("Back to Job Openings", "Index") -->
</p>
